.header-content {
  display: flex;
  padding: 14px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  .receiver {
    display: flex;
  }
  
  .name {
    margin-bottom: 0 !important;
  }

  .avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .action {
    display: flex;
    gap: 10px;
  }

  .message {
    margin-bottom: 0;
  }
}

.main-content {
  background: hsla(0,2%,90%,.43);
  height: calc(100% - 77px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}