.sider {
  border-right: 1px solid #eee;
}

.content {
  background-color: #fff;
}

.message {
  height: 100%;
}

.header-sider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  .img-welcome {
    max-width: 100%;
  }
}