.like-chat {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -12px;
  right: 12px;
  z-index: 1;
  cursor: pointer;

  &:hover {
    color: rgb(134, 134, 230);
  }
}