.chat-item {
  display: flex;
  margin-bottom: 8px;

  .action {
    min-width: 116px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .action-with-message-right {
    justify-content: flex-end;
  }

  .text {
    min-width: 85px;
    max-width: calc(100% - 38px - 136px);
    color: #333;
    background-color: #e5efff;
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    user-select: text;
    white-space: pre-wrap;
    line-height: 1.5;
  }

  .message {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 10px;
  }

  .message-left {
    flex-direction: row-reverse;
  }

  .time {
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 12px;
  }

  .avatar {
    border: 1px solid white;
    width: 40px;
    height: 40px;
  }
  
  .avatarBox {
    width: 40px;
    height: 40px;
  }
}

.position-left {
  justify-content: flex-start;
}

.position-right {
  justify-content: flex-end;
}
