.main-layout {
  height: 100vh;

  :global {
    .ant-menu-item {
      display: flex;
      justify-content: center; 
      align-items: center;
    }
  }
}

.logo {
  height: 32px;
  margin: 16px; 
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.header {
  background-color: #f5f5f5;
  height: 35px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.main-content {
  height: 100%;
  background-color: white;
}

.site-layout {
  height: 100%;
}

.avatar-options {
  padding: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 8px;
}