.title {
  text-align: center;
}

.login {  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 10%;
}

.start {
  display: flex;
  justify-content: end;
  width: 100%;
  text-decoration: underline;
  color: blue;

  & a {
    color: blue;
  }
}