.container {
  padding: 0 14px;
  margin: 0 auto;
}

.xsContainer {
  max-width: 540px;
}

.smContainer {
  max-width: 720px;
}

.mdContainer {
  max-width: 960px;
}

.lgContainer {
  max-width: 1140px;
}

.xlContainer {
  max-width: 1320px;
}