.input-chat {

  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 3px 16px;
    background-color: white;
  }

  .input {
    --height: 57px;
    position: relative;
    
    .text-area-autosize {
      min-height: var(--height);
      border-radius: 0;
      border: none;
      color: #333;
      padding: 14px 62px 14px 14px;
      line-height: 1.5;
      font-size: 14px;
      max-height: 182px;
      font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
      box-sizing: border-box;
      margin: 0;
      list-style: none;
      position: relative;
      width: 100%;
      min-width: 0;
      background-color: #ffffff;
      background-image: none;
      border-width: 1px;
      border-style: solid;
      border-color: #d9d9d9;
      transition: all 0.2s;

      &:focus-visible {
        border: 1px solid rgb(145, 145, 241) !important;
        outline: none;
      }
    }

    .send {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      color: rgb(85, 85, 244);
    }
  }
}